@model IEnumerable<Domain.Entities.task>

@{
    ViewBag.Title = "AllTasks";
}

<h2>AllTasks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>













<div class="row mt">
    <div class="col-md-12">
        <div class="content-panel">
            <table class="table table-striped table-advance table-hover">
                <h4><i class="fa fa-angle-right"></i> List Of Tasks</h4>
                <hr>
                <thead>
                    <tr>


                        <th><i class="fa fa-bookmark"></i> Description </th>
                        <th><i class="fa fa-bookmark"></i> Project </th>
                        <th><i class="fa fa-bookmark"></i> Start Date </th>
                        <th><i class="fa fa-bookmark"></i> Deadline </th>
                        <th><i class="fa fa-bookmark"></i> State </th>
                        <th><i class="fa fa-bookmark"></i> User </th>





                        <th></th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {

                    <tbody>
                        <tr>
                            <td><a href="basic_table.html#">@Html.DisplayFor(modelItem => item.Description)</a></td>
                            <td><a href="basic_table.html#">@Html.DisplayFor(modelItem => item.idProject)</a></td>
                            <td><a href="basic_table.html#">@Html.DisplayFor(modelItem => item.StartDate)</a></td>
                            <td><a href="basic_table.html#">@Html.DisplayFor(modelItem => item.DeadLine)</a></td>
                            <td><a href="basic_table.html#">@Html.DisplayFor(modelItem => item.id_user)</a></td>

                            <td><a href="basic_table.html#">@Html.DisplayFor(modelItem => item.state)</a></td>


                            <td>
                                <a href="@Url.Action("Edit"  ,new { idProject = item.idProject, description = item.Description, idUser = item.id_user  })">

                                    <button class="btn btn-success btn-xs"><i class="fa fa-pencil"></i></button>
                                </a>

                                <a href="@Url.Action("Delete"  ,new {description = item.Description })">

                                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                </a>

                               
                            </td>
                        </tr>




                    </tbody>
                }


            </table>

        </div>
    </div>
</div>
























@section Styles {
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}
